fastapi
uvicorn[standard]
jinja2
sqlalchemy
psycopg2-binary
python-dotenv
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-community
langchain-text-splitters
langchain-core
langgraph
langchain-groq
PyJWT
groq
GitPython
fastembed
httpx
pandas
requests
pinecone
faster-whisper
duckdb